<% layout('layouts/boilerplate') %>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let listings of allListing){ %>
  <a href="/listings/<%= listings._id %>" class="listing-link">
  <div class="card">
    <img src="<%= listings.image.url %>" class="card-img-top" alt="listing_image" style="height: 18rem;">
    <div class="card-img-overlay"></div>
    <div class="card-body">
      <b><h5 class="card-title"><%= listings.title %></h5></b>
      <p class="card-text">
        <%= listings.description %>
        <br>
        &#8377;<%= listings.price.toLocaleString("en-IN") %> /night
      </p>
    </div>
  </div>
  </a>
  <% } %>
</div>
